apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-ai
spec:
  selector:
    matchLabels:
      app: argo-ai
  replicas: 2
  template:
    metadata:
      labels:
        app: argo-ai
    spec:
      containers:
        - name: argo-ai
          image: gcr.io/concrete-braid-392715/argo-ai:$IMAGE_TAG
          ports:
            - containerPort: 3000
          env:
            - name: IMAGE_TAG
              valueFrom:
                configMapKeyRef:
                  name: my-config-map
                  key: image-tag